.narrativeHide
{
	display: none;
}
.narrativeShow
{
	display: inline;
	width: 75%;
}
#expandCollapseSpan
{
	cursor: pointer;
}
#narrSpan
{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}